/* GLOBAL */

/*
@media (max-width: 1215px) {
}

@media (max-width: 915px) {

}
@media (max-width: 765px) {
}

@media (max-width: 500px) {
}
*/

body {
	background:#EFEFEF;
	font-family: 'Roboto', sans-serif;
	color:#333333;
}

input {
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	padding: 7px;
	outline: 0;
	border:0;
	width:250px;
	background: #EBE8DE;
	border-radius:5px;
}

input[type=submit] {
	width:auto;
	padding: 5px 18px;
	line-height:25px;
	text-shadow:none;
	cursor:pointer;
	box-shadow: none;
	background: #333333;
	color: #fff;
}

p {
	margin:5px 0;
	line-height:25px;
}

a {
	text-decoration:none;
	color:inherit;
	transition: color .5s ease;
}


strong {
	font-weight:bold;
}

figcaption strong {
	border-bottom: 1px solid #D6D0C1;
	padding-bottom:10px;
	margin: 10px 0;
	display:block;
}

figcaption {
	line-height: 25px;
	font-size:14px;
	width:200px;
}

hr {
	background-color: #D6D0C1;
	border:0;
	height:1px;
	margin:20px 0;
}


/* HEADER */

header {
	position: absolute;
	z-index:10000;
	width: 100%;
	background-color: #FFFFFF;
	background: rgba(255, 255, 255, 0.3);
	transition: all .3s ease;
}

header:hover {
	background: rgba(255, 255, 255, 1);
}

#header_container {
	position: relative;
	margin: 0 auto;
	max-width: 1215px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

header h1
{
margin:0 0 0 0;
font-size:40px;
color:#000000;
font-family: 'Roboto', cursive;
}

header p
{
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #4A463B;
}

#header_logo
{
display: inline-block;
font-weight: bold;
text-align: left;
width: 350px;
}

#header_logo p {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 1px;
position: absolute;
color: #999999;
visibility: hidden;
}

@media (max-width: 915px) {
	#header_logo {
		display: inline-block;
		text-align: center;
		font-weight: bold;
		width: 350px;
	}

	#header_logo p {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 24px;
		color: #999999;
		visibility: visible;
		position: relative;
	}
}

/* MAIN NAV */

nav {
	position:absolute;
	right: 0;
	top: 45%;
}

nav ul {
	list-style:none;
}

nav ul li {
	display: inline-block;
	width: 90px;
	margin: 0px 10px;
	font-size: 18px;
}

nav ul li a {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	transition: all .3s ease;
}

nav ul li a:hover {
	color:#EFEFEF;
}

/* SMALL MENU NAV */

#small-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}

#small-menu ul li {
	display:block;
	background-color: #000000;
	color: #666666;
	padding: 20px 0;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #333333;
	transition: all .2s ease;
	width: 100%;
	cursor: pointer;
}

#small-menu ul li:hover {
	color: #FFFFFF;
	background-color: #666666;
}

.toggle-menu {
	display: none;
}

@media (max-width: 500px) {	/* SMALL */
	#small-menu 	{
		display: block;
		z-index: 99;
	}
	
	.toggle-menu {
		position: fixed;
		top: 10px;
		left: 10px;
		display: block;
		width: 40px;
		height: 36px;
		cursor: pointer;
		z-index: 999;
	}
	
	.toggle-menu span.menu1, .toggle-menu span.menu2, .toggle-menu span.menu3 {
		display: block;
		position: absolute;
		width: 40px;
		height: 8px;
		left: 0;
		background: #999999;
		-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
		transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
	
	.toggle-menu span.menu1 {
		top: 0;
	}
	
	.toggle-menu span.menu2 {
		top: 14px;
	}
	
	.toggle-menu span.menu3 {
		top: 28px;
	}
	
	.toggle-menu.active span.menu1 {
		top: 14px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
		transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
	
	.toggle-menu.active span.menu2 {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
		transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}

	.toggle-menu.active span.menu3 {
		opacity: 0;
		-webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
		transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
}


/* INTRO SECTION */

#section_intro {
	width: 100%;
	/* height: 300px; */
	text-align: center;
	background: url('../img/purty-wood-bw-bg.png');
    background-repeat: repeat;
	background-origin: content-box;
}

#section_intro p {
	font-weight: 100;
	position: relative;
	/* top: 50%;
	transform: translateY(-50%); */
	padding: 100px 10px;
	color: #FFFFFF;
	font-size: 36px;
	max-width: 915px;
	margin: 0 auto;
	line-height: 45px;
}


/* SKILLS SECTION */

#section_skills {
	width: 100%;
	/*height: 300px;*/
	background-color: #999999;
	text-align: center;
}

#section_skills p {
	font-weight: 100;
	position: relative;
	/* top: 50%;
	transform: translateY(-50%); */
	padding: 100px 10px;
	color: #FFFFFF;
	font-size: 36px;
	max-width: 915px;
	margin: 0 auto;
	line-height: 45px;
}


/* MAIN SECTION 1 */

#boxcontent {
	width: auto;
	max-width: 1215px;
	margin: 0 auto;
	padding: 70px 0 45px 0;
}

#boxcontent article {
	float: left;
	width: 23.33%;
	font-size: 21px;
	text-align: center;
	margin: 40px 5%;
	/*
	float: left;
	width: 250px;
	margin-right: 45px;
	*/
}

#boxcontent article h3 {
	float: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 32px;
	margin-top: 25px;
	margin-bottom: 10px;
	clear: both;
	text-align: center;
	width: 100%;
	/*
	margin-left: 75px;
	*/
}

#boxcontent article img {
	width: 200px;
	height: 200px;
	clear: both;
	margin: auto 0;
}

#boxcontent article p {
	float: left;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
	clear: both;
	/*
	margin-left: 75px;
	*/
}

@media (max-width: 1215px) {
}

@media (max-width: 915px) {

	#boxcontent {
		padding: 45px 0 30px 0;
	}

	#boxcontent article {
		text-align: left;
		width: 30%;
		margin: 40px 1.66%;
	}

	#boxcontent article h3 {
		float: none;
		clear: none;
		margin-left: 75px;
		width: auto;
		text-align: left;
		margin-top: auto;
	}

	#boxcontent article img {
		float: left;
		width: 65px;
		height: 65px;
	}

	#boxcontent article p {
		float: left;
	}

}

@media (max-width: 765px) {

	#boxcontent article {
		float: none;
		margin: 40px 10%;
		width: 80%;
	}

	#boxcontent article h3 {
		margin-left: 85px;
	}

	#boxcontent article img {
		width: 75px;
		height: 75px;
	}

	#boxcontent article p {
		float: none;
		clear: none;
		margin-left: 85px;
	}

}

@media (max-width: 500px) {

	#boxcontent article h3 {
		margin-left: 60px;
	}

	#boxcontent article img {
		width: 50px;
		height: 50px;
	}

	#boxcontent article p {
		margin-left: 60px;
	}

}

/* MAIN IMAGE SLIDER */

#slider_content1, #slider_content2, #slider_content3 {
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
	width:350px;
	position:absolute;
	top:15%;
	left:15%;
	display:none;
	z-index:11;
}

#slider_content1 h3, #slider_content2 h3, #slider_content3 h3 {
	color:#EBE8DE;
	font-size:25px;
	font-weight:bold;
	margin-bottom:10px;
	background-color:#333333;
	padding:10px 15px;
	border-radius: 15px 0 15px 0;
	display:inline-block;
}

#slider_content1 {
	display:block;
}

#slider_content1 p, #slider_content2 p, #slider_content3 p {
	margin:0 0 30px 0;
	color:#4a463b;
	background-color:#EBE8DE;
	padding:10px 15px;
	border-radius: 5px;
}


/* BUTTONS */

.button {
	padding:7px 14px;
	border: 1px solid #c3532e;
	background-image: linear-gradient(bottom, #E56038 0%, #ff8c66 100%);
	background-image: linear-gradient(to bottom, #ff8c66 0%, #E56038 100%);
	background-color: #eb653c;
	color: #EBE8DE;
	text-shadow: 1px 1px 0px #ff8155;
	text-decoration:none;
	border-radius:5px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.button:hover {
	background:none #EBE8DE;
	border-color: #EBE8DE;
	text-shadow:none;
	color: #4A463B;
}


.thumb-screen {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:113px;
	background: #000 url(img/zoom.png) center center no-repeat;
	z-index:99;
	opacity: 0;
	transition: opacity .5s ease;
}

.thumb-screen:hover {
	opacity:0.5;
}


.rocket, .clock {
	top:0;
	left:0;
	position:absolute;
	height: 80px;
}

.rocket:hover {
	opacity:0;
	transition: opacity 0.4s ease 0.2s;
	animation-name: stylie-transform-keyframes;
	animation-duration: 700ms;
	animation-delay: 0ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	transform-origin: 0 0;
}

.clock:hover {
	animation-name: stylie-transform2-keyframes;
	animation-duration: 100ms;
	animation-delay: 0ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform-origin: 0 0;
}


/* FOOTER */

footer {
	position:relative;
	clear:both;
	width:auto;
	height:auto;
	background:#333333;
}

footer .wrapper {
	line-height:25px;
	margin: 0 auto;
	padding-top:30px;
	width:auto;
	max-width:900px;
	font-size:14px;
	padding-bottom:100px;
}

footer .wrapper .column {
	font-family: 'Roboto', sans-serif;
	color:#ababab;
	float:left;
	width:280px;
	margin-right:20px;
}

footer .wrapper .column.midlist ul li {
	display:block;
	width:auto;
	padding:0 0 10px 25px;
	margin-bottom:10px;
	border-bottom: 1px solid #444444;
	background:url(img/arrowright2.png) left 6px no-repeat;
}

footer .wrapper .column.midlist ul li a:hover {
	color:#fff;
}

footer .wrapper .column.rightlist ul li {
	display:block;
	width:auto;
	margin-bottom:15px;
}

footer .wrapper .column.rightlist ul li a span {
	margin-left:95px;
	display:block;
}

footer .wrapper .column.rightlist ul li a img {
	transition: border .25s ease;
	float:left;
	border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover {
	border-color: #5e5e5e;
}

footer .wrapper .column h4 {
	font-size: 16px;
	color: #fff;
	border-bottom: 1px solid #444444;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
}


/* COPYRIGHT */

#copyright {
	background: #1D1D1D;
	height:auto;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

#copyright .wrapper {
	font-family: 'Roboto', sans-serif;
	padding-top:25px;
	padding-bottom: 25px;
	color: #5e5e5e;
	font-size:14px;
	position:relative;
}

#copyright .wrapper .social {
	position:absolute;
	right:0;
	top:25px;
}

#copyright .wrapper .social a {
	transition: opacity .25s ease;
	opacity: 0.3;
	margin-left: 12px;
	display:block;
	float:left;
}

#copyright .wrapper .social a:hover {
	opacity: 0.7;
}

#copyright .wrapper a {
	color: #ABABAB;
}

#copyright .wrapper a:hover {
	color: #fff;
}


/* SLIDESHOW */
/* Prevent the slideshow from flashing on load */

.slidesjs-container {
	border-top: 1px #d6d0c1 solid;
}

#slides {
	display: none
}

/* Center the slideshow */
.slideshow-container {
	width:auto;
	margin: 0 auto;
	position:relative;
}

/* Show active item in the pagination */
.slidesjs-pagination .active {
	color:red;
}

#slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button {
	display:none;
	color:#000;
}

/* MISC */
.clear {
	clear:both;
}

.hidden {
	position:absolute;
	clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
	clip: rect(1px, 1px, 1px, 1px);
}


/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 1215px) {
	#slider_content1, #slider_content2, #slider_content3 {
		width:auto;
		margin-right:50px;
	}
	
	#slider_content1 h2, #slider_content2 h2, #slider_content3 h2 {
		font-size:18px;
	}
	
	#slider_content1 p, #slider_content2 p, #slider_content3 p {
		font-size:14px;
	}
	
	#slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button {
		display:inline;
	}
	
	.slideshow-container .button {
		display:none;
	}
}


/* FULL */

@media (max-width: 915px) {
	header {
		position: relative;
		background-color: #FFFFFF;
	}
	
	#spacer {
		font-size:15px;
	}
	
	#spacer .search {
		margin-top:19px;
		margin-right:-385px;
	}
	
	#spacer p {
		margin-left:-370px;
	}
	
	input {
		padding:4px;
		font-size:14px;
	}
	
	input[type="submit"] {
		padding: 1px 14px;
	}
	
	#four_columns {
		width: 500px;
	}
	
	#four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4) {
		margin-top: 25px;
	}
	
	#text_columns article.column1, #text_columns .column2 {
		float:none;
		max-width: 500px;
		margin: 50px 30px 0 30px;
	}
	
	.column2 /*.row*/ {
		float:none;
		margin:0 0 40px 50px;
	}
	
	footer .wrapper .column {
		font-size: 12px;
		width: 230px;
	}
}


/* MEDIUM */

@media (max-width: 765px) {
	/*
	.slideshow-container
	{
	height:1px !important;
	top: -1500px !important;
	}
	*/
	
	header {
		text-align: center;
	}

	header nav {
		position: relative;
		margin-top: 50px;
		width: 100%;
	}

	header p {
		margin: 0 auto;
	}

	#spacer {
		height:100px;
	}

	#spacer p {
		text-align:center;
		position:static;
		margin: 0 auto;
		padding:15px 0 7px 0;
	}

	#spacer .search {
		text-align:center;
		position:static;
		margin: 0 auto;
	}

	footer {
		padding-bottom:120px;
		height: auto;
	}

	footer .wrapper {
		width: 350px;
		margin: 0 auto;
	}

	footer .wrapper .column {
		margin-top:30px;
		float:none;
		font-size: 14px;
		width: auto;
	}

	footer .wrapper .social {
		display:none;
	}
	
	#header_logo {
		width: 100% !important;
	}
}


/* SMALL */

@media (max-width: 500px) {
	header {
		text-align: center;
	}       
	
	#header_container {
		padding-top: 60px;
	}
	
	#spacer {
		height:auto;
		padding-bottom:15px;
	}
	
	#section_intro p {
		font-size: 28px;
		line-height: 30px;
	}
	
	#section_skills p {
		font-size: 28px;
		line-height: 30px;
	}
	
	#four_columns {
		width:auto;
	}
	
	#four_columns .img-item {
		width: 200px;
		float:none;
		margin: 25px auto 0 auto;
	}
	
	#four_columns h2 {
		margin: 0 30px;
	}
	
	.column2 /*.row*/ {
		margin: 0 0 40px 10px;
		width:auto;
	}
	
	footer .wrapper {
		width:auto;
	}
	
	footer .wrapper .column {
		margin: 0 auto 15px auto;
		max-width:300px;
	}
	
	input {
		width:auto;
	}
	
	header nav {
		display:none;
	}

	header h1 {
		font-size:40px;
	}

	header p {
	font-size:14px;
	}
}


/* KEYFRAMES */

@keyframes stylie-transform-keyframes {
0% {transform:translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
100% {transform:translateX(260px) translateY(-150px) rotate(0deg) translate(-50%, -50%);}
}

@keyframes stylie-transform2-keyframes {
0% {transform:translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
100% {transform:translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);}
}

/* JWHITE ADDED */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*
.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
*/

 


/* MAIN WORKS GALLERY */

#works-gallery-container {
   /* Prevent vertical gaps */
   line-height: 0;
   
   /*
   -webkit-column-count: 4;
   -webkit-column-gap:   0px;
   -moz-column-count:    4;
   -moz-column-gap:      0px;
   column-count:         4;
   column-gap:           0px;
   */
   
   width: 100%;
   margin: 0 auto;
   text-align: center;
   background: url('../img/bg-squares.png');
   /*
   background: url('../img/light-wood-vertical-bw-bg.png');
   */
}

.gallery-item {
	float: left;    
    width: 25%;
    margin: 0;
}

.gallery-item img {
	max-width: 100%;
}

@media (max-width: 1215px) {
	.gallery-item {
		width: 33.33%;
	}
}
@media (max-width: 915px) {
	.gallery-item {
		width: 33.33%;
	}
}
@media (max-width: 765px) {
	.gallery-item {
		width: 33.33%;
	}
}
@media (max-width: 500px) {
	.gallery-item {
		width: 50%;
	}
}

/*
@media (max-width: 1215px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 915px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 765px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 500px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
*/



